[2015-04-29 17:36] morethanreal opened #3 "Add missing layout variables"
There are some definitions in the classes version of layout.html that's not in the custom variables version.

[2015-04-29 17:50] #3 closed

[2015-05-17 17:50] ebidel opened #8 "Selector with multiple custom props is not applied"
From the mailing list (https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/polymer-dev/ee0FIc_uiCg/iPPkGqFYRPsJ)

     --layout-fixed-bottom:,
        --layout-fixed-left:,
        --layout-fixed-right:,
        --layout-fixed-top: {
          position: fixed;
        }

`position:fixed` it not applied  when one of these rules is used. Presumably because it is not parsed out p

[2015-05-25 23:02] lpalmaro opened #12 "iron-flex=layout accessibility issues"
This page isn't very smooth when zoomed in. Press control + to zoom in a few times and observe that the word "bar" disappears behind the cards. Not sure this is important, as it's just an issue on the demo page, but I wanted to flag it.

[2015-05-30 03:15] Manyuuz opened #15 "Behavior doesn't match the migration notes (CSS @apply)"
Hi !

I'm currently working on my personal website using Polymer 1.0. Therefore, I had to migrate from its previous version, and I found out that the behavior of "iron-flex-layout", or more precisely the styling with mixins it provides, does not match the migration notes. Indeed, notes are suggesting that you can @apply(...) several mixins at the same time (c.f. screenshot), but it doesn't seem to

[2015-06-03 19:09] Shrugs commented on #15
Can confirm that the behavior has changed. This worked as advertised in 0.9.0, but seems to fail on ^1.0.0.

[2015-06-05 08:57] basarat opened #16 "Docs missing from catalog"
Not visible here : https://elements.polymer-project.org/elements/iron-flex-layout

Also on the migration page (https://www.polymer-project.org/1.0/docs/migration.html#layout-attributes) link to the `demo` doesn't work :
![image](https://cloud.githubusercontent.com/assets/874898/8002747/a8562954-0bb4-11e5-9455-c875afb6c1ce.png)

[2015-06-09 16:05] batista commented on #15
@Shrugs with the merge of Polymer/docs#1173 this should be closed

[2015-06-09 16:15] #15 closed

[2015-06-11 01:05] arthurevans commented on #16
Docs don't show up. Demo shows up if you're looking at another iron- element demo, but not if you select the docs page for iron-flex-layout.

https://elements.polymer-project.org/elements/iron-flex-layout?view=demo:demo/index.html

[2015-06-12 17:17] zmoshansky commented on #8
:+1:

ex.) The following should be enough to align right, but it doesn't have the `position: fixed` attribute according to chrome inspector and as seen visually.
[code]

I'm not familiar with how to fix it ideally, but the repetitive, although technically more concise, method of adding `position: fixed` to all four items would work. Is that a suitable fix for a PR?

[2015-06-15 21:28] tjsavage opened #17 "Need to doc this element to show how to use these idiomatically"
We need to provide better explanation of how to use these layout styles.

For example, show how developers can do something like:
http://jsbin.com/zofidu/edit?html,output

[2015-06-18 19:40] notwaldorf commented on #8
@ebidel We don't think that's the syntax for apply the same style to multiple mixins, and it probably shouldn't work like that, but @sorvell should probably take a look at this and weigh in.

[2015-06-24 13:17] adammarton commented on #16
+1

[2015-06-24 16:43] arthurevans commented on #17
... But first they have to exist. @sjmiles are you planning on checking in the `classes.html` shown here? Or are we waiting for something other changes to the styling system first (like: https://github.com/Polymer/polymer/issues/1876)?

[2015-06-25 10:40] arthurevans opened #18 "Equivalent for auto-vertical attribute?"
Are we going to add an equivalent of the 0.5 auto-vertical attribute? I don't know whether it's important or not -- I just noticed in trying to update the docs that there appeared to be no equivalent in iron-flex-layout.

[2015-06-25 10:54] addyosmani commented on #18
I can't recall using `auto-vertical`, however here's a quick GitHub search on [usage](https://github.com/search?l=html&q=%22polymer%22+%22auto-vertical%22&ref=searchresults&type=Code&utf8=%E2%9C%93).

[2015-06-29 17:03] blasten commented on #12
this was fixed by https://github.com/PolymerElements/iron-flex-layout/pull/14

[2015-06-29 17:03] #12 closed

[2015-07-02 05:46] eaflores4 opened #20 "Should I use direct classes or mixins?"
Hello I pretty new to Polymer and I was noticing that I could directly apply a iron-flex-layout class to an element, such as class="flex". The migration guide does not show this behavior it only shows that I can include these classes as a mixins. I also noticed that these iron-flex-layout classes that can be directly applied to an element come from a file in the iron-flex-layout folder, iron-flex-

[2015-07-03 13:24] butterandfly opened #21 "`--layout-fixed-top` does not have the effect of `postion: fixed`"
It seems that the code below is not working:
[code]

[2015-07-05 09:47] pensierinmusica commented on #16
+1

[2015-07-05 09:49] pensierinmusica commented on #20
+1

[2015-07-06 16:05] ebidel commented on #20
This issue was moved to Polymer/docs#1246

[2015-07-06 16:05] #20 closed

[2015-07-06 21:10] morethanreal commented on #21
https://github.com/PolymerElements/iron-flex-layout/blob/master/iron-flex-layout.html#L280

That syntax doesn't look correct to me. @notwaldorf can you take a look?

[2015-07-08 18:51] moderndeveloperllc opened #23 "/deep/ and other piercing combinators are depricated"
Just a placeholder for now I guess, but the /deep/ combinator is currently deprecated, and it looks like piecing combinators [are on the way out too](https://www.w3.org/wiki/Webapps/WebComponentsApril2015Meeting)

https://www.chromestatus.com/features/6750456638341120
https://groups.google.com/a/chromium.org/forum/#!msg/blink-dev/68qSZM5QMRQ/pT2YCqZSomAJ

This means iron-shadow-flex-layout.html wi

[2015-07-08 19:42] klarkc commented on #16
+1

[2015-07-08 19:50] SmokyBob commented on #23
There is a [cool branch](https://github.com/PolymerElements/iron-flex-layout/tree/no-deep) with classes using custom properties

[2015-07-14 17:01] #21 closed

[2015-07-23 18:56] tpluscode commented on #16
+1

[2015-08-01 15:14] mojtabashabani opened #25 "scrolling horizontal layout not working in Polymer-Starter-kit in phonegap/cordova webview"
there is a problem with scrolling in horizontal div in starter kit , everything in chrome windows and android is fine , but scrolling not working in phonegap/cordova webview
[code]
solution?

[2015-08-04 21:51] antono commented on #16
:-1:

[2015-08-10 01:48] WesleyBatista commented on #16
+1

[2015-08-16 05:41] maria-le opened #27 "Documentation does not exist."
Where is the documentation for this element?

[2015-08-16 05:42] maria-le opened #28 "Demo does not exist."
Where is the demo for this element?

[2015-08-17 22:16] SmokyBob commented on #27
https://elements.polymer-project.org/guides/flex-layout

[2015-08-25 11:37] isorna opened #29 "Self-stretch doesn't apply on paper-card when inside a layout horizontal"
I've been following the flex-layout guide and it says that you can use `class="flex self-stretch"` on a tag inside a tag with `class="layout horizontal"`, so that all boxes use the same height.

Using a `<paper-card>` element, seems that the shadow doesn't apply correctly this behaviour, or I'm not smart enough to get it work without applying `class="layout horizontal"` again to my `<paper-card>`'

[2015-09-01 12:56] grokys commented on #27
It would be nice to display these docs from the catalog page instead of displaying "no documentation found"

[2015-09-03 09:27] gazal-k commented on #23
Was this [cool branch](https://github.com/PolymerElements/iron-flex-layout/tree/no-deep) already merged? and is iron-shadow-flex-layout.html just maintained for backward compatibility?

[2015-09-03 17:41] notwaldorf commented on #23
That branch has not been merged yet, and will probably not be merged in its current form. I'm working on removing `/deep/` this week, so stay tuned. Hopefully it won't break anything :)

[2015-09-04 01:43] gazal-k commented on #23
@notwaldorf :+1: can you please share what the alternative is to using `/deep/` for layout classes?

[2015-09-08 19:12] notwaldorf commented on #23
@gazal-k I think the plan is to: 1. make the `/deep/` part go away altogether (with a nice deprecation message), so the classes, like the mixin equivalents, will only work on the context they're applied to. 2. make more granular imports for the classes versions, so that you don't have to pull *all* of `iron-flex-layout` to just get the plain flex box layout-y things.

[2015-09-09 18:55] TrentBrown commented on #16
+1

[2015-09-11 18:29] MetaMemoryT commented on #23
:+1: interested in this

other elements:

https://github.com/PolymerElements/paper-styles/issues/49

[2015-09-21 22:34] petermikitsh opened #31 ":root selector causing side effects"
From [iron-flex-layout.html#L21](https://github.com/PolymerElements/iron-flex-layout/blob/6f67f2ea4aba5c0171392477bd2956c8b781bb25/iron-flex-layout.html#L21):

[code]

This seems to force a flex layout on the `body` element, throwing off the entire viewport's layout.

Css style applied:

<img width="325" alt="screen shot 2015-09-21 at 3 26 23 pm" src="https://cloud.githubusercontent.com/assets/157

[2015-09-27 00:48] emersonbottero opened #33 "Fullbleed creates an extra scroller"
On windows + chrome an extra scroller is displayed #396. It was fix somehow but now is back again.

[2015-09-28 14:47] dman777 opened #34 "Firefox 'layout vertical center center' broken"
Using Polymer 1.1, in Chrome the elements are centered when the screen is resized smaller. But in Firefox, they shift to the left.

[code]

![](http://i.stack.imgur.com/Akk4Y.jpg)

[2015-09-29 15:54] #28 closed

[2015-09-29 16:34] garlicnation commented on #27
Fixed locally. Will appear in the catalog on the next push.

<img width="1436" alt="screen shot 2015-09-29 at 9 33 09 am" src="https://cloud.githubusercontent.com/assets/1105965/10171122/4bfba272-668d-11e5-8984-c407bd00a7b8.png">

[2015-09-29 16:34] #27 closed

[2015-09-29 17:09] samccone commented on #27
zomg :sparkles: :heart:

[2015-09-29 17:18] #16 closed

[2015-09-29 17:18] #17 closed

[2015-09-29 18:14] garlicnation commented on #27
https://elements.polymer-project.org/elements/iron-flex-layout

[2015-09-30 13:11] mbergeron opened #35 "Safari combination of Layout Horizontal Wrap and child with Min-Width broken"
Hi,

I don't know if the issue comes from the iron-flex-layout or Safari's render engine.

The followings works on Chrome, Firefox, IE and Edge. Only Safari doesn't wrap the child elements

This is the code basics

CSS

        .testContainer{
            background-color:lightGray;
            padding:5px;
        }

        .testBox{
            background-color:whitesmoke;
            margin:5p

[2015-10-01 08:13] czellweg opened #36 "Do layout classes now need to be imported explicitly?"
I've updated a Polymer element of mine when I've noticed the layouting did not seem to work anymore. After some digging, I've seen that I can import `iron-flex-layout/classes/iron-flex-layout` if I want to continue using the layout properties directly in the markup (as opposed to mix-ins).

It appears that using the above mentioned import, the `/deep/`combinator is again used (which will be deprec

[2015-10-03 20:12] oathcomrade opened #37 "/deep/ alternative"
Browser returns the folowing warning:
/deep/ combinator is deprecated. See https://www.chromestatus.com/features/6750456638341120 for more details.

[2015-10-05 15:59] cdata commented on #37
Thanks for reporting. We are currently working on changes to minimize the impact from `/deep/` being removed. Please track https://github.com/PolymerElements/iron-flex-layout/pull/32 for the latest on this.

[2015-10-10 17:56] dman777 commented on #34
Just to confirm....am I doing anything wrong that would cause this in Firefox but not chrome? Or is it a bug? I would really like the layout to be correct on Firefox since alot of users will be using Firefox.

[2015-10-17 02:53] dman777 commented on #34
Closing this issue. I had some code to place the paper tabs more to the center, which strangely produced this issue.

[2015-10-17 02:53] #34 closed

[2015-10-24 09:17] gedw99 opened #39 "link to Polymer element, like other elements have"
so i can see how to use this..

For example: https://elements.polymer-project.org/elements/paper-button?view=demo:demo/index.html

[2015-10-24 20:24] notwaldorf commented on #39
Done! Added a link to the demo.

[2015-10-24 20:24] #39 closed

[2015-10-27 23:50] notwaldorf commented on #25
@addyosmani tentatively assigning this to you since it says "polymer starter kit" :)

[2015-10-27 23:51] notwaldorf commented on #29
This should have already been fixed. `paper-card` no longer uses a `paper-material` custom element, just its style.

[2015-10-27 23:51] #29 closed

[2015-10-27 23:53] notwaldorf commented on #31
That line in `iron-flex-layout` just defines the mixin, it doesn't apply it to anything. Could you create a jsbin with your repro steps, or post your code? It's kind of hard to tell what's going on without looking at any code :)

[2015-10-27 23:56] notwaldorf commented on #33
Can you reproduce this in a JSBin, or post a snippet of your code? I think what's inside your app matters, since `fullbleed` by itself works seems to work fine: http://jsbin.com/mohiwu/edit?html,output

[2015-10-28 07:21] isorna commented on #29
Thanks Monica!

[2015-11-06 00:17] emersonbottero commented on #33
Any page from Polymer shows the error for me

in the link you send works fine when is not in live preview
![image](https://cloud.githubusercontent.com/assets/12377432/10985728/cbe2ab80-840a-11e5-8d55-532da1a00319.png)

if you click in live preview the error occurs
![image](https://cloud.githubusercontent.com/assets/12377432/10985743/ffb29f06-840a-11e5-9ab1-d569f77cca1d.png)

[2015-11-09 19:28] miztroh opened #47 "Reverse layout mixins are broken"
tl;dr - Basically, the mixin versions of ``--layout-horizontal-reverse`` and ``--layout-vertical-reverse`` are broken.

Notice how ``--layout-horizontal-reverse`` and ``--layout-vertical-reverse`` are missing the crucial ``display`` properties present in ``--layout-horizontal`` and ``--layout-vertical``.  From iron-flex-layout/iron-flex-layout.html:

[code]

This doesn't seem to be consistent with

[2015-11-09 21:07] ReeceGoddard opened #48 ""align-items: stretch" missing from variables."
There is --layout-start, --layout-center, and --layout-end. But no --layout-stretch.

Is there a reason for this being missing, or just a bug?

[2015-11-09 22:11] notwaldorf commented on #48
`stretch` is the default, so it's essentially the same as just saying `@apply(--layout-horizontal);`, with no other properties. If you want to send a PR to add it though, that would be awesome!

[2015-11-10 15:49] zoechi opened #49 "demo contains duplicate id"
https://github.com/PolymerElements/iron-flex-layout/blob/master/demo/index.html#L263 has `<div class="container" id="demo10">` and also L245

[2015-11-10 15:52] ReeceGoddard commented on #48
I tried submitting a PR but I don't have permission.

[2015-11-10 18:13] notwaldorf commented on #48
You can't clone and just make a commit to this repo; you need to fork it and send a PR. Here is the github workflow for that: https://help.github.com/articles/using-pull-requests/

[2015-11-10 18:13] notwaldorf commented on #49
Ooops, thanks, I'll fix that today.

[2015-11-10 20:36] ReeceGoddard commented on #48
Okay, thanks for the info.

[2015-11-10 21:43] notwaldorf commented on #8
I'm going to close this. That syntax is not really a thing, and it doesn't work in css either. Since it's _producing_ a value, it would be the equivalent of:
[code]
which is kind of bananas. 🍌

[2015-11-10 21:43] #8 closed

[2015-11-11 09:10] zoechi opened #53 "`<style>` outside of `<template>` - is there a reason?"
https://github.com/PolymerElements/iron-flex-layout/blob/master/demo/demo-snippet.html#L36

Is this for a specific reason?
I'm working on porting the demos to Dart and run into an issue that the template in `attached()` is empty.
I don't think it's related, I just try to understand the demo code better.

[2015-11-11 12:37] notwaldorf commented on #53
Nope, that's my bad!

[2015-11-12 20:00] notwaldorf commented on #36
If you just want to use the layout mixins (not the classes), you need to just import `iron-flex-layout/iron-flex-layout.html`. I think the problem in your example is actually the `--layout-wrap` mixin you're applying (which forces the horizontal layout to wrap around). Note that the same happens if you change your classes example to `<div class="old layout horizontal wrap">`

Here's a jsbin with y

[2015-11-12 20:27] notwaldorf commented on #35
Eeek, sorry for the delay in answering this. First, here's a jsbin reproducing it, with both native flex css, and `iron-flex-layout`: http://output.jsbin.com/zelusabayo

It seems that the same thing happens with plain, non-polymer flexbox because of a Safari bug: http://stackoverflow.com/questions/25360526/row-wrap-in-flex-box-not-wrapping-in-safari/30792851#30792851

The solution is to add `-webk

[2015-11-12 20:27] #35 closed

[2015-11-15 21:22] emersonbottero commented on #33
@notwaldorf don't know if you saw the link  #396 but it only happens on windows + Chrome

[2015-11-16 19:52] #53 closed

[2015-11-17 03:05] ebidel opened #56 "Latest version of Polymer has runtime bug after using polybuild"
_From @markstewie on November 17, 2015 0:46_

In latest (v 1.2.2) after running polybuild through gulp there is a runtime error here....

    // line 2998 of polymer.html
    properties[m[1]] = (m[2] || m[3]).trim();

The runtime error says...

    Uncaught TypeError: Cannot read property 'trim' of undefined

_Copied from original issue: Polymer/polymer#2747_

[2015-11-17 03:05] ebidel commented on #56
1.2.3 just came out. Can you test against that? It resolved a few bugs.

[2015-11-17 03:05] ebidel commented on #56
_From @markstewie on November 17, 2015 2:24_

Unfortunately still a problem... done some debugging.. this is the info I can provide...

I've added debugging where it breaks.

    while (m = rx.exec(cssText)) {
        if((m[2] || m[3]) == undefined) {
           debugger;
       }

At this point, just before it breaks the values of relevant variables are...

     // cssText
    {display: -ms-flexb

[2015-11-17 03:05] ebidel commented on #56
_From @markstewie on November 17, 2015 2:32_

Found the problem!!!

There is a missing semicolon on line 301 of iron-flex-layout.html

    --layout-fullbleed: {
      margin: 0;
      height: 100vh;
    } // HERE

Thought there would be some kind of linting that would check for this?

Anyhow, would be appreciated if you could fix for next release.

[2015-11-17 03:05] ebidel commented on #56
Good fine. Going to move this over there.

[2015-11-17 15:24] czellweg commented on #36
Great, thank you @notwaldorf!

[2015-11-17 15:24] #36 closed

[2015-11-18 12:34] frncesc commented on #56
Please update also the bower package. The current version provided by Bower (`iron-flex-layout#1.2.0`) still has the missing semicolon error.

Thanks!

[2015-11-24 06:25] rycastaneda commented on #56
is the current Bower package updated to this?

[2015-11-27 10:07] manfield opened #59 "style classes vs mixins > rendering differences"
Due to the "/deep" deprecation, we're refactoring the whole application, substituting classes to mixins.
It seems we have some issues on flex applied to vertical layout.

This is the block, before refactoring:
<img width="403" alt="2015-11-27_1055" src="https://cloud.githubusercontent.com/assets/397671/11438556/e32f4a7c-94f5-11e5-9c9b-9fe3f88f9b0d.png">

Let's consider the block labeled "Firma"

[

[2015-11-30 17:51] MetaMemoryT commented on #23
Any progress update?

[2015-11-30 18:53] notwaldorf commented on #23
@MetaMemoryT We have started cleaning up all our elements and demos first to make sure they are no longer using the `/deep/` version of the styles. For now, our recommendation is to use the mixin version of all the flex layout styles and paper-styles.

[2015-12-01 05:20] #47 closed

[2015-12-01 05:20] #49 closed

[2015-12-01 15:03] bdore commented on #33
It's caused by height:100vh property in iron-flex-layout.html

[2015-12-06 21:55] ebidel commented on #23
@notwaldorf is the plan to just get rid of the the /deep/ import [here](https://github.com/PolymerElements/iron-flex-layout/blob/master/classes/iron-flex-layout.html#L11)? That would allow any element needing the classes to still import it, but they wouldn't get the /deep/ versions.

For codelabs, we get rid of the `/deep/` console warnings by vulcanizing out `iron-shadow-flex-layout.html` from ou

[2015-12-08 19:00] opus1269 opened #60 "CSS rules not processed correctly by gulp-minifyInline"
The changes in 1.2.2 caused issues when using minifyInline. Specifically, the rules like this:

[code]

aren't processed correctly and break those layouts.

The fix is to move @apply(--layout); to the end instead of the start (not sure why).

I think you know the changes were also a problem in the polymer-starter-kit and caused them to remove minifyInline from their build process.
https://github.c

[2015-12-08 19:01] notwaldorf commented on #60
/cc @addyosmani @robdodson

[2015-12-08 21:20] robdodson commented on #60
@opus1269 in your test did it look like the mixins were being removed completely or just that they weren't working unless moved to the end?

[In this comment](https://github.com/PolymerElements/polymer-starter-kit/issues/564#issuecomment-162031499) I included a screenshot. It seemed like the mixin was still there, but perhaps not getting picked up by the style shim. @sorvell any idea what might be

[2015-12-08 21:39] opus1269 commented on #60
They were there but there was the text "at-rule," right before the @ sign and the rest of the mix-in wasn't there.   I was thinking at-rule might be some intermediate step in the minify process but it got confused and didn't finish. No errors were thrown by gulp-minifyInline.

It also looks looks like the --layout-center-center may be messed up too (I don't use that one). It has back to back @appl

[2015-12-08 21:49] zacharytamas commented on #60
I've been banging my head against this one today, too. I agree with @opus1269 about his findings. This unfortunately breaks my app's layout completely.

[2015-12-08 22:12] opus1269 commented on #60
I was wondering if there are any other Polymer elements that define a mixin and apply it in within the same style tag?

[2015-12-09 01:56] robdodson commented on #60
My feeling is this is a `minifyInline` problem, not a Polymer problem. Moving styles around feels like a brittle fix at best. It seems like the fix should come from their end.

[2015-12-10 08:06] opus1269 commented on #60
This is a bug in clean-css (used by minifyInline). Targeted for fix in next release (3.4.9)

I know you are working on a Polymer CSS parser, but @jakubpawlowicz seems very supportive of Polymer (lots of code specific to it). Maybe you can collaborate if agreed?  It seems like rather than proliferating Polymer specific tools, it makes sense to use well established tools when possible.

[2015-12-10 15:08] robdodson commented on #60
@cdata could probably best explain the Polymer team's needs with the CSS parser. I believe the reasoning is to help out with our style shimming system but may be mistaken.

[2015-12-10 16:21] btelles opened #61 "guides/flex-layout code is not visible."
The code sections on the following page are not visible. A bit odd (and maybe slightly embarrassing?) since the code samples are showing CSS layouts.

https://elements.polymer-project.org/guides/flex-layout

[2015-12-10 16:25] btelles commented on #61
User error.

[2015-12-10 16:25] #61 closed

[2015-12-10 19:43] cdata commented on #60
@robdodson @opus1269 There is a grab bag of reasons why it is useful for us to have a small (in terms of file size), flexible (in terms of grammar) and fast CSS parser. If `clean-css` is being patched to support Shady CSS grammar, we should definitely test it out to see if it is a suitable candidate for our use cases.

This is a popular meme, but in software as in life every decision involves some

[2015-12-10 22:10] opus1269 commented on #60
@cdata I understand. (been making life trade-offs since 1965 :) Thanks for looking at it.

[2015-12-11 21:59] jakubpawlowicz commented on #60
There's some Polymer specific code in clean-css however I'm not very fond of diverging from a standard CSS syntax, see https://github.com/jakubpawlowicz/clean-css/issues/689#issuecomment-153341377 as an example.

[2015-12-11 23:33] robdodson commented on #60
Yeah I think the plan is for `@apply` to be proposed as a CSS standard (looks like there's a working draft here by one of the Chrome engineers https://tabatkins.github.io/specs/css-apply-rule/). As of right now I don't know where it is in the process but custom properties, are I think, being standardized as we speak.

[2015-12-14 20:30] cdata commented on #60
@robdodson @jakubpawlowicz [Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=773296) has shipped, and custom property implementations are landing in [Chrome](https://code.google.com/p/chromium/issues/detail?id=465126), and [WebKit](https://trac.webkit.org/changeset/190209), in fact.

[2015-12-14 21:12] jakubpawlowicz commented on #60
Yup, clean-css parser already support those. I only referred to a non-standard version polymer supports.

@robdodson thx for sharing that `@apply` spec!

[2015-12-16 00:45] notwaldorf commented on #60
Can I close this issue, since it's not an `iron-flex-layout` issue, but a minifier issue?

[2015-12-16 00:46] notwaldorf commented on #59
Is there a chance you could repro this in a jsbin, please? Here's a sample one to get you started: http://jsbin.com/cagaye/edit?html,output

[2015-12-16 00:47] notwaldorf commented on #56
The latest release is `1.2.2` so it should have this fix. Closing.

[2015-12-16 00:47] #56 closed

[2015-12-16 00:48] notwaldorf commented on #48
Closing this, since it's not really bug -- the functionality is already there

[2015-12-16 00:48] #48 closed

[2015-12-16 00:49] notwaldorf commented on #37
For now, we recommend using the mixin version of the flex layout classes. If you don't have a selector available, you can always make one for the one class you need, like:
[code]

[2015-12-16 00:57] notwaldorf commented on #33
I don't know what the link #396 refers to (there's no issue on this repo with that id), but there was a typo in the original jsbin (the classes were actually meaningless). Here is a screenshot from chrome on windows, where i still can't repro this :(

![Uploading Screen Shot 2015-12-15 at 4.56.30 PM.png…]()

[2015-12-16 00:57] #33 closed

[2015-12-16 00:58] #60 closed

[2015-12-16 00:58] robdodson commented on #60
yuuuup

[2015-12-16 01:01] notwaldorf commented on #31
Closing this, since there's no answer and no repro steps :(

[2015-12-16 01:01] #31 closed

[2015-12-16 01:03] notwaldorf commented on #18
@athur What did `auto-vertical` do, do you recall? (I've never seen it in action)

[2015-12-27 18:15] manfield commented on #59
Hello,
I reproduced here:
http://jsbin.com/jotejosepo/edit?html,output

Try to give a look.
Thanks a lot.

[2015-12-30 07:07] masaoliou opened #64 "Feature request: self alignment along main axis"
I would like to align the first two `<li>`  to the left and the third `<li>` to the right like this:

[code]
Note that `class="self-end"` applied to the third `<li>` doesn't do the job because according to [the guide](https://elements.polymer-project.org/guides/flex-layout), it aligns the third `<li>` to the bottom of its container.

[2016-01-01 04:17] maria-le opened #65 "Typo in Demo"
"General purpose ruls" should read "General purpose rules."

https://elements.polymer-project.org/elements/iron-flex-layout?view=demo:demo/index.html&active=iron-flex-layout

[2016-01-04 18:04] #65 closed

[2016-01-07 16:44] notwaldorf commented on #64
@masaoliou do you have an example of how this would be done with plain flexbox code?

[2016-01-07 16:52] notwaldorf commented on #64
Here's an example: http://jsbin.com/doqozit/edit?html,output.

Closing, since I don't think there's a flex property that can do what you want.

[2016-01-07 16:52] #64 closed

[2016-01-08 05:48] masaoliou commented on #64
Your insightful example already shows me the ingenious approach that fully satisfies my requirement and makes this request invalid.

Thank you very much for the help!

[2016-01-08 07:19] notwaldorf commented on #64
No worries, glad it worked out!

[2016-01-09 20:33] MetaMemoryT commented on #23
thanks @ebidel for suggestion
deleting the import [here](https://github.com/PolymerElements/iron-flex-layout/blob/master/classes/iron-flex-layout.html#L11) worked for me.

[2016-01-11 00:50] MeTaNoV opened #67 "Missing classes/mixins related to align-items and align-content"
Using massively flex layout in one of my project, I discovered some missing classes/mixins related to flex.
Concerning the alignment in cross axis, the following are missing:
[code]
and
[code]
Concerning, multi-lines, all classes / mixins related to `align-content` are missing.

[2016-01-11 18:49] notwaldorf commented on #67
`align-items: stretch` is the default, which is what it's not included. `baseline` is indeed missing.

[2016-01-19 17:34] phidias51 opened #70 "Update Documentation"
We recently updated to the latest version of iron-flex-layout. We spent the better part of the day trying to figure out why all of our interfaces were suddenly out of kilter.  It turns out that since we make heavy use of the flex CSS classes, the import needed to change to "iron-flex-import/classes/iron-flex-import.html".  The top level documentation for the component (not the guide) should be upd

[2016-01-21 19:46] valdrinkoshi opened #71 "Layout vertical/horizontal broken on canary"
`--layout-vertical, --layout-vertical-reverse` should have `min-height: 0`,
`--layout-horizontal, --layout-horizontal-reverse` should have `min-width: 0`
http://stackoverflow.com/questions/29907626/flexbox-max-height-interpretation-change-on-chrome#answer-29909047

Without those, the rendering on chrome canary and firefox breaks.

[2016-01-22 07:09] notwaldorf commented on #70
Argh, I'm sorry about your frustration. We are recommending against using the classes versions of `iron-flex-layout`. The problem is that they rely very strongly on the `/deep/` and `::shadow` selectors, which are getting deprecated in Chrome. This is why all the top level docs only mention the mixins versions.

[2016-01-22 07:10] notwaldorf commented on #18
@arthurevans @addyosmani Should we close this? I don't really know what the attribute does (it's not canon for flexbox) and there haven't been any requests from the community to resuscitate it

[2016-01-22 07:11] notwaldorf commented on #37
Going to merge this into https://github.com/PolymerElements/iron-flex-layout/issues/23, since that's the issue that's tracking the generic "What do we do about `/deep/`" problem.

[2016-01-22 07:11] #37 closed

[2016-01-22 07:16] notwaldorf commented on #25
Sorry for dropping the ball on this issue! I'm going to close this, since it's super old and it doesn't have any repro steps. However, if you're still having problems with this, would you might putting together a jsbin (sample to get you started: http://jsbin.com/todowe/edit?html,output) about what you're expecting to see, and what is actually happening?

Thanks!

[2016-01-22 07:16] #25 closed

[2016-01-22 07:18] notwaldorf commented on #67
@MeTaNoV If you were to put together a PR adding these missing attributes, I would absolutely merge it, by the way :)

[2016-01-22 07:18] notwaldorf commented on #59
Eeek, sorry for dropping the ball on this issue. I'll take a look tomorrow!

[2016-01-22 07:19] MeTaNoV commented on #67
oh, OK, if I got green light now! :)

[2016-01-22 07:20] notwaldorf commented on #71
@valdrinkoshi Do you mean `--layout-flex-vertical`? `iron-flex-vertical` doesn't exist :)

[2016-01-22 09:30] MeTaNoV commented on #67
@notwaldorf KTAL!

[2016-01-22 17:15] valdrinkoshi commented on #71
Lol my bad, updating the description

[2016-01-22 17:57] phidias51 commented on #70
@notwaldorf Let me get this straight, are you saying that we need to replace all of the classes we're currently using (in about 100 different files) with mixin references?  I understand the reason behind removing deep and shadow references, but not sure why that means that the classes can't be updated to still work properly.  Doesn't the CSS flex library work (upon which the iron-flex-layout is ba

[2016-01-22 19:46] notwaldorf commented on #70
We are working on a solution to make classes work properly (I'm bumping this to my top of the list next week) but they still won't work exactly as they do today (mostly because it's a bit expensive to import the entire iron-flex-layout stylesheet in every element, which the `/deep/` approach was avoiding).

We can look at setting up an upgrade script, sure. Let me talk some more with the team next

[2016-01-27 21:01] bsinc commented on #71
Definitely looking for an update for this! My whole web-app relies on iron-flex-layout, I just updated to Chrome 48 and it's broken. Having to put the min-width and min-height fix in manually is becoming a huge pain.

[2016-01-27 22:38] ebidel commented on #71
Chrome 48 changes are causing issues: https://twitter.com/sunshinex0_/status/692434593262243842

[2016-01-27 23:03] notwaldorf commented on #18
Closing. Please re-open and ping me if anyone really needs it and remembers explicitly what this did :)

[2016-01-27 23:03] #18 closed

[2016-01-28 03:03] notwaldorf commented on #71
@valdrinkoshi would you mind sending a PR for this, please? :)

[2016-01-28 03:48] valdrinkoshi commented on #71
sure, i'll assign this to myself and add it to my TODO list ;)

[2016-01-28 03:52] notwaldorf commented on #71
Thanks so much! Here's some internet cake! 🍰🍰🍰

[2016-01-28 09:22] manfield commented on #59
toc toc :)

[2016-01-28 17:21] bsinc commented on #71
looks like chrome pushed an update last night to fix this issue!
https://code.google.com/p/chromium/issues/detail?id=580196

The version of chrome that caused the problem for me was: 48.0.2564.82
Now updated to: 48.0.2564.97

Everything is working great! :)

[2016-01-28 18:05] bsinc commented on #71
Actually... I spoke too soon.

I'm having this problem:
https://jsfiddle.net/L341am4o/1/

The second section with class "fix" has the min-width: 0; "hack" to fix it.

[2016-01-28 19:23] notwaldorf commented on #59
The bug seems to be coming from the `--layout-flex` application on the inner horizontal container (that holds the header and the checkbox). After removing that, it's fine: http://jsbin.com/pewala/edit?html,output

The classes and mixins versions for the flex-basis of `.flex` and `--layout-flex` are completely different, but I don't know why that's the case.

@keanulee @frankiefu Any idea why this

[2016-01-28 19:26] notwaldorf commented on #70
Closing as duplicate of https://github.com/PolymerElements/iron-flex-layout/issues/23

[2016-01-28 19:26] #70 closed

[2016-01-28 22:27] keanulee commented on #59
@notwaldorf What exactly is the issue? I opened the two jsbin links above, and I don't see any overlapping divs (i.e. header and content are adjacent, not overlapping).

[2016-01-29 09:19] manfield commented on #59
This is the issue:
<img width="327" alt="issue_1" src="https://cloud.githubusercontent.com/assets/397671/12671692/b881326a-c671-11e5-8f5b-087c2f255825.png">

You may see the same in the very first comment of this thread:

<img width="386" alt="first_comment" src="https://cloud.githubusercontent.com/assets/397671/12671712/d626a782-c671-11e5-9387-61d9a4799787.png">

[2016-01-30 20:12] AndreasGalster opened #74 "How are we supposed to use iron-flex-layout without /deep/?"
Since deep has been deprecated it's recommended to use mixins in our elements. However, let's say I make use of 10 different flex classes, I'll have to define all of those classes in my element. Even worse, now I have to **remember** defining those classes, so let's say I want to use flex-6, I can't just use it, I need to make sure it's defined. Why isn't there just something like one iron-flex-cl

[2016-02-01 20:27] notwaldorf commented on #74
I have some good news and some slightly less good news.

The good news is that we're still working on a having a `classes` alternative -- the only challenge there is to make sure that you're not importing the entirety of those css selectors all the time, so we're trying to split them off in smaller chunks, that you can import as needed. Here is the PR for that: https://github.com/PolymerElements/i

[2016-02-01 20:28] notwaldorf commented on #74
Closing as duplicate of https://github.com/PolymerElements/iron-flex-layout/issues/23 (we're trying to have only one tracking item for this)

[2016-02-01 20:28] #74 closed

[2016-02-02 02:19] valdrinkoshi commented on #71
Adding `min-width: 0; min-height: 0` would be a breaking change for certain css selectors: in this example you can see how the `min-width` gets overridden if the css is defined before the fix http://jsbin.com/viqeru/9/edit?html,output
In more complex cases this style might be set through custom styles/mixins. The risk of overriding the `min-width/height` is high,

This issue happens on chrome & fi

[2016-02-04 23:04] notwaldorf commented on #71
Yeah, I agree with @valdrinkoshi. I think us fixing this will open up a jar of spiders :(

[2016-02-08 07:11] urandom commented on #23
I've personally created a style module with the full contents of the layout classes in it (can't include the classes html, since it auto imports the flex part for some reason), and used it as described in https://www.polymer-project.org/1.0/docs/devguide/styling.html#style-modules .It might be a good idea for such a style module to be provided out of the box, so that people don't have to do it the

[2016-02-08 18:33] notwaldorf commented on #23
For anyone who wants to follow along, I have a PR open (https://github.com/PolymerElements/iron-flex-layout/pull/32) that should fix this. Fingers crossed I get to it this week :)

[2016-02-16 17:15] robrez commented on #23
I'm interested in opinions about creating a [style module](https://www.polymer-project.org/1.0/docs/devguide/styling.html#style-modules) for iron-flex-layout?

I've been working on a decent-sized app that uses lots of custom-elements. Almost all of my initial coding utilized styling that worked because of /deep/. I'm finding that I've been inconsistent in refactoring my elements to utilize iron-fl

[2016-02-16 18:24] notwaldorf commented on #23
@robrez Does the PR I have work for you? We went with copying the rules, rather than `@applies` because it's a little bit faster (less work Polymer has to do)

[2016-02-16 18:26] robrez commented on #23
Yep looks great to me!

[2016-02-16 23:47] notwaldorf commented on #59
I don't think I can reproduce this anymore. Here's the same jsbin, updated: http://jsbin.com/pewala/edit?html,output

The mixin and classes version look the same, with the same DOM:
<img width="515" alt="screen shot 2016-02-16 at 3 46 44 pm" src="https://cloud.githubusercontent.com/assets/1369170/13095157/7f64bba8-d4c4-11e5-99b8-acabfeef0f3d.png">

Please let us know if this is still an issue for

[2016-02-16 23:47] #59 closed

[2016-02-16 23:48] notwaldorf commented on #71
@valdrinkoshi @ebidel what do you think about closing this issue? It seems to be a browser bug, and as Valdrin explained in the previous comment, us fixing this is a potential giant breaking change

[2016-02-16 23:50] manfield commented on #59
Hi, yes I tried yesterday after a framework update. The issue seems to be solved by latest releases.
Thanks a lot for your support.

[2016-02-17 00:42] valdrinkoshi commented on #71
Yeah, we should close this.
Hopefully this issue will be easy enough to find for people that face this issue. The solution is to set `min-height` or `min-width` to the flex elements.

[2016-02-17 07:01] #71 closed

[2016-02-21 14:01] rkommine opened #77 "iron-flex-layout demo not working"
Hi,

I have started learning polymer. To start with my learning project first I tries to create a simple webpage with iron-flex-layout.

So I have used the below code as per the the information given in using elements.

`<!DOCTYPE html>`
`<html>`
`<head>`
	`<title>testing</title>`
	`<script src="lib/polymer/webcomponentsjs/webcomponents-lite.min.js"></script>`
	`<link rel="import" href="lib/polyme

[2016-02-22 20:15] notwaldorf commented on #77
Are you sure you're importing `iron-flex-layout` correctly? Make sure that you ran `bower install` correctly, and that there are no errors on your page. Here's a super basic jsbin with your code, showing that it works fine: http://jsbin.com/visibif/edit?html,output

Closing, as I think there's a problem with your setup, not with the element.

[2016-02-22 20:15] #77 closed

[2016-02-23 18:56] #23 closed

[2016-02-26 10:47] grebett opened #78 "[Documentation] Flex layout guide deprecation"
Hello Polymer team! Thank you for your great job and very clear documentation around here.

Reading the [flex-layout guide](https://elements.polymer-project.org/guides/flex-layout), I have noticed that, even though it speaks about the soon-to-be deprecation, there are no mention of the new `iron-flex-layout.html` and `iron-flex-layout-classes.html`.

The documentation and demo within the repositor

[2016-02-28 23:45] notwaldorf commented on #78
There's already a PR in flight for that: https://github.com/Polymer/polymer-element-catalog/pull/248.

FWIW, the guide already talks about the `iron-flex-layout` mixins, it just hasn't been updated for the new classes approach, which literally got merged last week 😊

[2016-02-28 23:45] #78 closed

[2016-03-02 01:08] sorvell opened #79 "Remove /deep/ from `iron-shadow-flex-layout.html` under Shady DOM"
By using a `<style is="custom-style">` in `iron-shadow-flex-layout.html` we can ensure that only users of Shadow DOM are using the deprecated `/deep/` styling. This will make it easier to determine how many users are actually relying on the deprecated `/deep/` combinator.

[2016-03-07 17:27] cpboyd opened #82 "Chrome issue with style include attribute?"
According to the documentation, it seems that include attributes can be applied to a "custom-style" element.
https://www.polymer-project.org/1.0/docs/devguide/styling.html#style-modules

However, I have gotten rendering issues with Chrome when serving a gzipped, Vulcanized page that uses the following:
(Strangely, when opening the uncompressed, Vulcanized page locally, I do not have the same rende

[2016-03-08 00:52] #67 closed

[2016-03-08 19:33] notwaldorf commented on #82
Hmm, this shoooould be fine. @azakus any idea why vulcanize would care about this?

[2016-03-09 00:00] azakus commented on #82
I'd need to see a more complete example. Perhaps an import for the styles to include is missing before the declaration and causing the styles to be ordered incorrectly.

[2016-03-09 14:32] cpboyd commented on #82
The complete imports for that style.html file:
[code]

Honestly, I don't think it's an issue with Vulcanize (as the local Vulcanized HTML file loads the style correctly).

It's more likely some type of rendering quirk with Chrome, since the issue only happens when I'm serving the HTML from a device (with gzip encoding.)

I only opened this to confirm that I was understanding the documentation corr

[2016-03-09 14:32] #82 closed

[2016-03-19 00:24] uwolfer opened #86 "Leak of [hidden] CSS rule with `!important` declaration"
The `iron-flex-layout` element leaks `[hidden]` CSS rule with `!important` declaration.

## Expected outcome

The element should not leak CSS with important declaration.

## Actual outcome

As soon as this element is included (when using shady DOM), it leaks following CSS:
https://github.com/PolymerElements/iron-flex-layout/blob/master/iron-flex-layout.html#L51-L53

## Steps to reproduce

I have p

[2016-03-22 17:28] alemarre opened #87 "Why `flex-1` factor has a `flex-basis` attribute and other factors don't ?"
Hello,

I just spent some time wondering why my different flex boxes with a `flex-2` class weren't of the same height in a vertical layout (height was varying depending on the content).
I had another working example with boxes using `flex` class with "fixed" heights.

I found on the net that the `grow` attribute was related to a `flex-basis` factor, and to assure elements to be the exact same heig

[2016-03-24 19:37] notwaldorf commented on #86
I believe this is a limitation of the shady DOM shim. There's no true encapsulation of styles, so it's true that if you include this somewhere, the style for the `hidden` attribute will become available everywhere. This was also true in the past if you included the `classes` version of `iron-flex-layout`, since they were making `hidden` available via a `/deep/` combinator everywhere throughout the

[2016-03-24 20:00] uwolfer commented on #86
@notwaldorf: Thanks for your feedback. My main concern is that things break when switching to shadow DOM while they work fine with shady DOM.

Please see [this example](https://gerrit-review.googlesource.com/#/c/75883/1/polygerrit-ui/app/elements/change/gr-file-list/gr-file-list.html) to get a better understanding what I'm talking about. Because of the leaked `!important` declaration, `display: {f

[2016-03-24 20:03] notwaldorf commented on #86
@uwolfer To make sure the shadow DOM works in the same way, shouldn't you import `iron-flex-layout` in every element that needs it? That is how the element is intended to be used. Does that fix your problem?

[2016-03-24 20:11] uwolfer commented on #86
@notwaldorf: `iron-flex-layout` is imported as a dependency by `iron-autogrow-textarea` in the example I have posted above. It is not used by any element directly AFAIK.

[2016-03-29 18:26] andybons commented on #86
@uwolfer is right. We don’t use iron-flex-layout directly in any of our elements. It’s pulled in by other iron-* elements.

[2016-03-30 15:07] gaurav21r opened #88 "Why not use a regular CSS file?"
We aren't using any **CSS variables** or **CSS Mixins** here. And the https://github.com/PolymerElements/iron-flex-layout/blob/master/iron-flex-layout-classes.html contains no *Polymer specific syntax* except for the `<style>s` to be wrapped inside `<dom-module>`s.

Why not just take it out in a regular CSS file? Not only will it be a great boon for non-Polymer projects (greater interops will lead

[2016-03-31 00:15] notwaldorf commented on #88
Here is a very detailed answer, because the problem is actually very complicated.

First, the "use an external stylesheet" bit:
- custom elements cannot import external stylesheets using the "usual way" (`<link rel="stylesheet">`) because that does not work in the shadow DOM (i.e. the styles do not get applied at all, it's like you never included the stylesheet at all)
- there's an alternate appro

[2016-03-31 00:15] #88 closed

[2016-04-04 22:43] timeu commented on #87
This might be related to IE10 compatibility: https://github.com/Polymer/polymer/issues/1097
But the rendering is somewhat buggy when using vertical layout.

[2016-04-06 20:22] uwolfer commented on #86
There is a related comment by @kevinpschaaf about `hidden` attribute with `!important` in [this issue](https://github.com/Polymer/polymer/issues/1748#issuecomment-112181090).

[2016-04-08 18:51] notwaldorf commented on #86
@uwolfer Could you check whether PR https://github.com/PolymerElements/iron-flex-layout/pull/89 makes things better for you?

[2016-04-08 19:01] notwaldorf commented on #86
@uwolfer In your original JSBin, I don't see a difference between using the shady and shadow DOM. I had created a PR to encapsulate the style, but I'm seeing the same result.

I can't run your gerrit example, unfortunately -- would you mind putting together a JSBin with a smaller `display: flex` problem? In your original example, unfortunately, I'm seeing the expected result: if you use the `hidde

[2016-04-08 19:03] notwaldorf commented on #87
Oof, we should investigate if this is still needed. It was originally there because IE10's flexbox is really messed up, and needs the weird flex basis; I think we should either add it to all the flex factors, or remove it from `flex-1`, but some consistency is needed.

[2016-04-08 19:21] notwaldorf commented on #86
@uwolfer In any case, I think https://github.com/PolymerElements/iron-flex-layout/pull/89 should at least make the shady and shadow dom styles consistent. Can you double check this works for you?

[2016-04-08 19:47] uwolfer commented on #86
@notwaldorf: Thanks a lot, I've verified that it fixes things as expected.

I've also re-checked my JSBin. You are right, it behaves the same way in both shady and shadow DOM. I think it is related to the fact that in the JSBin all includes (and elements) are in one 'file' (also the `iron-flex-layout` one). This way, it is also applied to the Polymer element `my-element`. But you can still check t

[2016-04-08 19:54] notwaldorf commented on #86
Oh, I didn't say I would merge #89, if it's a breaking change (which it might be) -- I just wanted to understand whether that was causing your problem.

[2016-04-19 14:49] edgarshurtado opened #91 "Hidden attribute overriden when using class .layout"
### Description

When using iron-flex class, in case you use `.layout .horizontal` or `.layout .vertical`, the hidden attribute is ignored.

I've realised that `.layout` overrides the `display:none` of the hidden attribute to `display:flex`.

I've also realised that if you import the iron-flex-layout class **iron-positioning** it sets : `[hidden]{display: none !important;}` so the hidden attribute

[2016-04-21 01:51] notwaldorf commented on #91
The `hidden` attribute does not do that natively: http://jsbin.com/vekufib/edit?html,output. Basically, even with plain divs, the moment you set a `display` style on an element, `hidden` does not work (because it has the lowest specificity, and loses to the `display: block` style. To fix this, you _have_ to add a `[hidden] { display: none;}` style

`iron-flex-positioning` actually defines this sty

[2016-04-21 01:51] #91 closed

[2016-04-21 07:14] edgarshurtado commented on #91
Oh, ok. I thought attributes where applied always over css styling. Thank you for the insight =).

Nevertheless, I think it could be beneficial for developers to point this out in the documentation of iron-flex-layout, or maybe add the `[hidden]{display: none;}` rule to the iron-flex class. Maybe I've been the only one who struggled with this, but it took me a while to figure out what was going on

[2016-05-03 03:19] iSuslov opened #92 "iron-flex-layout is deprecated but is used in other official components."
In console I see the message:

I removed all imports for that dependency, but official polymer components still use this, for example:

and others..

[2016-05-03 03:23] notwaldorf commented on #92
Where do you see the `classes/iron-flex-layout.html` file being used in iron-image or paper-item? Neither of these elements, nor their demos use it

[2016-05-03 03:25] notwaldorf commented on #92
(The warning comes from `iron-flex-layout/classes/iron-flex-layout.html`, not `iron-flex-layout/iron-flex-layout.html`. Could it be you're using old versions of these elements?)

[2016-05-03 03:54] iSuslov commented on #92
Wow, thank you for such quick response.
Maybe I installed old versions, but this is strange since I'm installing with bower.
Here is my `bower.json`:

[2016-05-03 04:12] notwaldorf commented on #92
Ah! The offending line is `<link rel="import" href="polymer/paper-styles/paper-styles.html">`. It includes the deprecated file [here](https://github.com/PolymerElements/paper-styles/blob/master/paper-styles.html#L12), which is why we recommend not using it (see [this note](https://github.com/PolymerElements/paper-styles/blob/master/paper-styles.html#L33).

[2016-05-03 04:12] notwaldorf commented on #92
Closing, since this isn't an issue with this element :)

[2016-05-03 04:48] iSuslov commented on #92
@notwaldorf Thank you Monica :)

[2016-05-03 04:48] #92 closed

[2016-05-19 02:08] Herobs opened #93 "enhance layout css"
https://github.com/PolymerElements/iron-flex-layout/blob/master/iron-flex-layout-classes.html#L38-L43

[code]

Should be:

[code]

Because horizontal layout should be the default. Just like the mixin https://github.com/PolymerElements/iron-flex-layout/blob/master/iron-flex-layout.html#L59-L63

[2016-05-23 17:45] notwaldorf commented on #93
I think that sounds reasonable. Would you be interested in submitting a PR?

[2016-06-02 18:09] apptum opened #95 "wrong titel in demo"
[https://elements.polymer-project.org/elements/iron-flex-layout?view=demo:demo/index.html&active=iron-flex-layout](url)

the titel of the example for "Justification, center justified" wrongly says "Justification, start justified" instead of ""Justification, center justified""

[2016-06-06 23:47] lesliana opened #96 "Add mixin for align-items:stretch"
There are mixins for all the other align-items values (flex-start, flex-end, center, baseline), but it doesn't look like there's a mixin for align-items:stretch yet.

[2016-06-06 23:47] notwaldorf commented on #96
`align-items: stretch` is the default, I believe, which is why it didn't get a separate mixin.

[2016-06-06 23:50] zhaoz commented on #96
This would still be valuable to explicitly set even if it is default, right?

[2016-06-07 00:02] lesliana commented on #96
I realize I don't actually need a mixin for align-items:stretch where I
thought I did.  There is still a chance it could still be useful for
elements that need to override another styling.

2016-06-06 16:50 GMT-07:00 zhaoz <notifications@github.com>:

[2016-06-09 16:43] notwaldorf commented on #95
Good catch! would you be interested in sending a PR to fix that? :)

[2016-06-10 07:01] biancashouse opened #97 "Syntax error in iron-flex-layout-classes.html"
line 235 has a semi-colon !

[2016-06-10 17:18] #97 closed

[2016-06-16 00:55] sorvell commented on #86
I suggest simply removing the `[hidden]` rule in iron-flex-layout (when possible). It doesn't seem like the responsibility of iron-flex-layout to have anything to say about how `[hidden]` behaves.

The root issue here is that the `hidden` attribute natively behaves in a fairly unhelpful way. Any styling applying to the element that sets the `display` property overrides the effect of `hidden`. Here

[2016-06-17 20:12] uwolfer commented on #86
I fully agree with @sorvell.

Btw, I think the label "pending-response" can be removed. Or do you require any information from me?

[2016-06-20 22:12] dotnetCarpenter commented on #88
@notwaldorf Can you point me to a resource that explains why this is a security risk? This is is a huge obstacle when you already have a nice UI library written and neatly organized in BEM blocks but have to either:

a. Create a tool that wrap each BEM block in a `dom-module`
b. Inline the needed CSS in a web component which result in a maintenance nightmare or at least a lot of duplicated CSS
c.

[2016-06-21 00:21] dotnetCarpenter commented on #88
I still don't understand why this can be a security risk but I found another answer which makes sense.

https://github.com/Polymer/polymer/issues/2429#issuecomment-141550061

That means scoped styles goes out the window and I can understand why that is bad for a web component.

[2016-06-21 01:02] notwaldorf commented on #88
paging @sorvell who knows the details, but my understanding is that it would lead to parsing the external css file as an html document, which isn't great (and since you're expecting css and getting html, and maybe js since nobody is stopping you, this could be unsafe).

[2016-06-21 01:14] dotnetCarpenter commented on #88
Ah, you mean if we use HTML imports natively in the browser, which can not be restricted to only import CSS. At first glance that seems no different from importing a Web Component which could contain malicious code but we do it anyway.

Anyway, looking forward to @sorvell answer. Thanks for your speedy reply.

[2016-06-23 01:01] #95 closed

[2016-06-29 13:49] snorberhuis commented on #35
+1 for the fix.

[2016-08-24 05:24] lingtalfi opened #102 "iron-flex-layout demo freezing in firefox"
### Description

The demo for iron-flex-layout makes firefox crash (unusable to be more precise).

https://elements.polymer-project.org/elements/iron-flex-layout?view=demo:demo/index.html&active=iron-flex-layout
### Expected outcome

go to the page: https://elements.polymer-project.org/elements/iron-flex-layout?view=demo:demo/index.html&active=iron-flex-layout
with firefox and see a demo.
### Actu

[2016-08-25 09:15] bastienarm commented on #23
@notwaldorf just a little question after updating iron-flex-layout from 1.2.2 to 1.3.1 to resolve to /deep/ warning.

Change the include of
[code]
to
[code]
to be sure to use the good file.

It seems that the "fullbleed" class on the body no longer exists, so I just add
[code]
into my css (without this, the body will only have the minimum height required), and set the html to
[code]

The question

[2016-09-01 18:19] timeu commented on #96
`align-items: stretch` would be useful in a mobile first approach, where a media-queries would reset the cross-axis behavior to stretch:

[code]

[2016-09-06 21:00] notwaldorf commented on #96
If anyone wants to send a PR for this, it would be greatly appreciated! 🙏

[2016-09-27 22:02] frank707 commented on #92
I started seeing this warning in my console recently and noticed that iron-list component has a test / demo page that imports paper-styles.html.

https://github.com/PolymerElements/iron-list/blob/master/test/smoke/index.html

[2016-09-27 22:07] notwaldorf commented on #92
@frank707 arg, i thought i had tracked down all of them. would you be interested in sending a PR to iron-list to fix that? /cc @blasten

[2016-09-27 22:32] frank707 commented on #92
Sure. Just sent a PR. :)

[2016-11-29 15:32] caranicas opened #104 "Add individual mixins for the various flex directions"
### Description

Similar to issue #96 the  `row`, `row-reverse`, `column`, and `column-reverse`  properties should be in their own mix-ins to allow for more flexibility.

Then these can also be applied to ` --layout-horizontal/-reverse` and ` --layout-column/-reverse` to decrease maintenance.

### Expected outcome

[code]

[2016-11-29 15:36] caranicas commented on #96
Which is preferred, PRs against `master` branch, or the `2.0-preview` ?

[2016-12-05 19:58] notwaldorf commented on #96
@caranicas against master, please.

[2016-12-05 19:58] notwaldorf commented on #104
@caranicas a PR for this would be appreciated as well! <3

[2017-02-01 07:26] maria-le opened #108 "How to get rid of the deprecated file warning in the console?"
[Please answer this question on SO](http://stackoverflow.com/q/41952346/1640892).

[2017-02-15 01:45] dimwell-git opened #109 "Test bug: --layout-vertical"
### Description
Wrong initial state of container.

### Expected outcome
The initial layout of container should be different to one after adding class "vertical".
This means that if we don't add class "vertical" to  the container the test should fail.
To my understanding the main idea of test - is to check that by applying property "--layout-vertical" it changes the layout to vertical and thus pass

[2017-02-17 23:44] dman777 opened #110 "iron-flex-factors have no effect, but native flex: 1 works."
### Description
`iron-flex-factors` are not working

### Expected outcome

flex ratios to be applied

### Actual outcome

flex ratios not being applied

### Browsers Affected

- [x ] Chrome
- [ ] Firefox
- [ ] Safari 9
- [ ] Safari 8
- [ ] Safari 7
- [ ] Edge
- [ ] IE 11
- [ ] IE 10

Using Polyme 1.7.* and  iron flex layout  `1.3.1` the flex radio such as `class="flex-1"` will have no effect. Howe

[2017-02-18 00:21] dman777 commented on #110
Closing as I forgot to import `iron-flex-factors` as a module.

[2017-02-18 00:21] #110 closed

[2017-03-06 18:19] web-padawan opened #111 "Deprecate old flexbox syntax used by IE 10 to make Lighthouse happy"
### Description
As of now, Polymer 2.0 is unlikely to support IE 10, due to Mutation Observer bugs and more. So, shall we still include old 2012 syntax prefixes?

Lighthouse recommends [not to use it](https://developers.google.com/web/tools/lighthouse/audits/old-flexbox) anymore. What about having a breaking change here? Or should this be considered as a future change for 3.x element release, whic

[2017-04-17 23:16] notwaldorf commented on #102
I can't reproduce this in the latest Firefox :(

[2017-04-17 23:16] #102 closed

[2017-04-17 23:17] notwaldorf commented on #111
If we don't support IE10, we probably don't need any of `iron-flex-layout`, right? Are there any browsers that don't support the generic, non-prefixed styles?

[2017-04-18 02:17] adam-azarchs-10x opened #116 "Failing lint"
### Description
It appears that the example added in #112 caused projects which depend on `iron-flex-layout` to start failing eslint.  It doesn't seem to like nested html comments.

### Expected outcome

Lint passes.

### Actual outcome

[code]

### Steps to reproduce

1. Create a project that depends transitively on iron-flex-layout (pretty much any project).
2. Run `polymer lint`

[2017-04-18 04:49] notwaldorf commented on #116
On it :(

[2017-04-18 04:52] #116 closed

[2017-04-18 04:54] notwaldorf commented on #116
@adam-azarchs-10x ive tagged a new release. Please let me know if you still see this error (I thiiiiink it should be fine?)

[2017-04-18 04:57] web-padawan commented on #111
AFAIK, Polymer 2 should still support Safari 8, which supports flexbox with `-webkit` prefixes.
And looks like Lighthouse should not warn about these.

[2017-04-18 07:34] Peppe commented on #116
Could you pull this change to the 2.0-preview branch? The uncommented code is evaluated by IE11 and gives a completely blank page on the latest version.

[2017-04-27 20:20] freshp86 commented on #87
cc/ @danbeam @mgiuffrida

Same question for the "flex" class. Pasting from https://bugs.chromium.org/p/chromium/issues/detail?id=635633#c11

In `iron-flex-layout.html` the "flex" class simply specifies "flex: 1", see [here](https://github.com/PolymerElements/iron-flex-layout/blob/master/classes/iron-flex-layout.html#L92). On the other hand, in the new `iron-flex-layout-classes.html` the "flex" cla

[2017-04-28 02:36] notwaldorf commented on #87
TBH, I think it was an IE10 quirk. I think we can definitely fix this in the 2.0-preview branch, but I have soooome IE10 worries about fixing it on master. :/

[2017-04-28 02:38] notwaldorf commented on #87
(but if we can test that changing that flex basis doesn't break the tests in IE10, that's probably sufficient)

[2017-04-28 02:41] notwaldorf commented on #108
One of your elements, or more likely, a dependency of them imports either `paper-styles/paper-styles.html`, or `iron-flex-layout/classes/iron-flex-layout`. Can't really figure out anything more than that without looking at your `bower.json` or what your dependency tree looks like

[2017-04-28 02:41] #108 closed

[2017-05-03 07:41] mgiuffrida commented on #87
@notwaldorf  could we get away with  using the weird basis value only with `-ms` prefixes? Or maybe `-ms-flex-preferred-size` could have the same effect as `flex-basis` (can't find documentation for it)

[2017-06-21 03:40] zbury opened #126 "CSS mixins not working on Edge"
### Description
Flexbox CSS mixins from iron-flex-layout.html do not seem to be working on Edge.

### Expected outcome
The proper CSS styles are applied when using a mixin.

### Actual outcome
Elements are unaffected by the mixins.

### Live Demo
This is apparent in the `paper-input` [demo](https://www.webcomponents.org/element/PolymerElements/paper-input). The email icon prefix appears above the

[2017-06-23 17:03] vitalygoji opened #127 "Multiple issues"
When I replaced older version with new one to avoid deprecation /deep/ issue
a)It could not find files and directories (???!!!)
b)After I created dir and moved files around to adjust new file structure(??!!)  it broke slider and date chooser.
I had to revert to older version. Is there an easy way to  get rid of deprecation /deep/ warnings?

[2017-07-10 08:18] profhase commented on #88
@dotnetCarpenter @sorvell @notwaldorf

This issue seems very actual for me. I would like to use some webcomponents in an existing bootstrap project.
The way that I ve chosen for now is:

[code]
With a  `<style include="shared-styles"></style>` in every component.

- Is it the way it is supposed to be?
- What will I  do when `rel=import type=css` finally gets removed from polymer?

[2017-07-18 23:52] amantri commented on #92
I am also seeing this warning, due to https://github.com/PolymerElements/app-layout/blob/master/app-toolbar/app-toolbar.html#L12 in my case

[2017-08-01 15:51] alenkvakic commented on #92
@amantri i've got the same issue due to app-toolbar.html - did you find a solution to this warning with the element?

[2017-08-01 22:03] amantri commented on #92
@alenkvakic, I did not find a solution. Since its only a warning, and doesn't appear to affect my app, I am ignoring it for now :)

[2017-08-17 17:57] zbury commented on #126
Seems this was an Edge bug that has been addressed, as the `paper-input` demo now displays properly.

[2017-08-17 17:57] #126 closed

[2017-08-31 19:59] notwaldorf commented on #127
Now sure what the a) point means, and without repro steps, I don't know how to answer it. Maybe your update didn't work correctly? Did you run `bower install` correctly? Nothing should have changed in the directory structure.

I also don't know what b) means, because if you moved the code to an incorrect location, it will obviously not work.

Closing, as there are no repro steps to understand what

[2017-08-31 19:59] #127 closed

[2017-09-27 21:00] JohnRiv opened #128 "Styling master document from stylesheets defined in HTML Imports is deprecated"
### Description
When using iron-flex-layout, Chrome Canary displays this warning in the console:

### Expected outcome

No warnings should be displayed in the console

### Actual outcome

That warning is displayed

### Live Demo
Go to any page with iron-flex-layout. https://elements.polymer-project.org/guides/flex-layout will do the trick.

### Steps to reproduce

1. HTML Import `iron-flex-layout.

[2017-09-27 22:35] notwaldorf commented on #128
@azakus Hmm, I thought if we used it in a `custom-style` it was fine. Or, was it not merged in Polymer yet?

[2017-09-28 18:50] azakus commented on #128
@notwaldorf Not released yet, but this is specifically a dupe of https://github.com/Polymer/polymer/issues/4679

[2017-09-28 18:50] #128 closed

[2017-09-29 11:49] ggriffithsIDBS commented on #128
So 10.1.1 just got released but im still seeing this warning all over. Would be so much better if had some idea what files were causing this. Seeing it on my demo pages, with the iron-demo-helpers components. Need to see if its our code or not too.

[2017-10-06 13:38] kirilledelman opened #129 "Old documentation"
All the documentation for this component is for Polymer 1.x, and none of the guides published alongside this component are up to date. Examples in the guide linked to by the README, or documentation on webcomponents.org are not working.

I've spent many hours trying to figure out how to make this component work in either main document, or inside a component. Stackoverflow helped me get this workin

[2017-10-27 00:02] valdrinkoshi opened #130 "iron-flex-layout.html 1.x was providing display: none for [hidden], 2.x doesn't anymore"
When moving to 2.x (https://github.com/PolymerElements/iron-flex-layout/pull/103/files#diff-ac9bc15ef746292eee06aa75286380c2L62), `iron-flex-layout-classes.html` kept providing this style, but not `iron-flex-layout.html`:
[code]

[2017-10-27 00:52] #130 closed

[2017-12-13 05:09] chosh31 opened #132 "Chrome 65 could break some Polymer 1.x and 2.x websites"
In Link: https://www.polymer-project.org/blog/2017-10-18-upcoming-changes

 What you should do in the next month or two:

 - [x] Ensure that you're running the latest 1.x or 2.x release (1.10.1 or newer for 1.x; 2.1.1 or newer for 2.x).
 - [ ] If you have any HTML imports that contain ordinary style tags—not wrapped in a custom-style element or inside a template—use a custom-style element instead,

[2018-01-08 19:53] ssundarraj opened #134 "Guide is missing code"
Code samples on https://elements.polymer-project.org/guides/flex-layout are blank.
![flex-missingdocs](https://user-images.githubusercontent.com/4509724/34689486-8a2a5d8c-f46a-11e7-9666-877673a01406.png)

[2018-01-08 20:20] notwaldorf commented on #134
hmm, looks fine here (tried Chrome and FF):
<img width="882" alt="screen shot 2018-01-08 at 12 19 35 pm" src="https://user-images.githubusercontent.com/1369170/34690481-36102d86-f46e-11e7-8748-6f22eecd6876.png">

What browser? Any more details?

[2018-01-08 21:51] ssundarraj commented on #134
I am on Chrome 63.0.3239.108. I tried again and it worked. That's weird. I'll reopen if I'm able to repro.

[2018-01-08 21:51] #134 closed

[2018-02-09 22:29] #132 closed

[2018-02-15 05:23] tavisca-dpingale opened #140 "insert hidden globally - breaks UI, hidden style is not applied even on modern browsers"
1. Till now we were using iron-flex-layout (#^1.3.7) in old project and in new project (#^2.0.1)
2. But suddenly the UI started breaking, issues getting reported in projects
3. We started debugging a lot
4. The elements which we want to be hidden seems to getting visible on page
5. At end we found that the hidden attribute styling is not getting applied.
6. The reason for this we found the issue w

[2018-02-15 07:06] notwaldorf commented on #140
Did this work in 2.0.0 or any 2.x version of this element?

/cc @e111077 @valdrinkoshi @kevinpschaaf

[2018-02-15 07:25] notwaldorf commented on #140
Also, could you post a code snippet of where you’re using hidden and it doesn’t work? Is it in the main document, in an element, etc

[2018-02-15 07:44] tavisca-dpingale commented on #140
It was working till iron-flex-layout (#^1.3.7) and  (#^2.0.1). I have used it in a component made for a project.

After you updated iron-flex-layout (#^1.3.8) and  (#^2.0.2) the issue seen is below.
Here is the screenshot of the browser where you can clearly see the hidden elements are visible the styling is not loaded.

![group](https://user-images.githubusercontent.com/15605278/36245568-c00851fc

[2018-02-15 22:30] notwaldorf commented on #140
Is this a Polymer 2 app with hybrid elements, then? Like, is `<tlg-report>` a hybrid element, or a pure 2.0 element? Can you show the `<tlg-report>` snippet and how it's importing `iron-flex-layout` so that I can try to write some reproducible code? (Or better yet if you have one already)

(we ran this change against many apps using Polymer and it was all good, so I think you're maybe hitting an e

[2018-02-16 10:09] tavisca-dpingale commented on #140
I am using it as below in polymer 1.0 project

<link rel="import" href="../../bower_components/polymer/polymer.html" />
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html" />
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html" />
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html" />
<link rel="import" href="..

[2018-02-16 15:19] paresy commented on #140
I can verify this issue. We have a plain Polymer 1.x app, that showed elements which should be hidden. As already pointed out the [hidden] style is missing/not being applied.
![image](https://user-images.githubusercontent.com/260376/36314420-18a01ec4-1335-11e8-8638-f14039b0e291.png)

[2018-02-19 12:46] nochev commented on #140
Hello,
Is this fix https://github.com/PolymerElements/iron-flex-layout/commit/f5a62ee975ef755d6fe47ccd9682b6a691e5c352 will be released in 1.x version ?

[2018-02-20 18:56] notwaldorf commented on #140
I just released the fix @nochev mentioned as 1.3.9. @tavisca-dpingale @paresy Let me know if updating to this version fixes your project 🙏

[2018-02-21 13:21] nochev commented on #140
@notwaldorf update is fixing our project. Thanks.

[2018-02-21 13:31] paresy commented on #140
@notwaldorf  Works! Thanks.

[2018-02-21 19:41] notwaldorf commented on #140
Yay! Sorry about that!

[2018-02-21 19:41] #140 closed

[2018-02-28 14:49] kobleistvan commented on #132
Seems that even if the <style> tags are wrapped in <custom-style> tags, Chrome still gives warning in console regarding deprecation. Should it be ONLY <custom-style>, without <style> tags inside of them? Thanks

[2018-03-12 18:33] ankushbiswas commented on #128
same issue in Google Chrome | 64.0.3282.140 (Official Build) (64-bit)

[2018-04-23 09:14] thanhngvpt commented on #88
Same question as @profhase and a little question is with some front end UI libraries contain both css and js such as Bootstrap and Semantic, How can i include its js parts?

[What will I do when rel=import type=css finally gets removed from polymer?]

This will soon deprecate as mentioned at https://www.polymer-project.org/2.0/docs/devguide/style-shadow-dom#style-modules . When it deprecated do we

[2018-05-17 15:12] davidmaxwaterman opened #142 "docs are wrong"
https://elements.polymer-project.org/guides/flex-layout

[code]

Those two code samples are not equivalent at all (even the text is different), and the example output below it seems to not relate to either - unless I'm very much mistaken,  'Alpha' should be 50% bigger than 'Gamma', but it looks smaller to me, and 'Beta' should be half of the total width (ie 12 - 3 - 2 = 6).

[2018-05-17 18:40] notwaldorf commented on #142
How uhhhh did you even get to this link? This is from the old site, which isn't maintained anymore (which is why the demos are completely hosed)

[2018-05-17 18:41] notwaldorf commented on #142
Oh, from the README. Yeah we should nuke that link

[2018-05-17 21:08] davidmaxwaterman commented on #142
Well, I used that page a *lot* since I'm still on v1, so please don't...

http://lmgtfy.com/?q=polymer+iron-flex-layout

The first result ... I guess that is the README you're talking about.

[2018-09-28 01:35] JosefJezek opened #148 "Where is Guide?"
Guide was removed from webcomponents.org :-/

[2018-10-10 19:37] #148 closed

[2018-10-14 08:07] MinwooYu2815 commented on #128
It doesn't work Firefox Developer Edition too. 👍

[2018-10-21 22:40] lulzimfazlija commented on #128
I have this issue only in Google Chrome, anyone knows the fix?

[2018-10-21 22:48] MinwooYu2815 commented on #128
I fixed it to use javascript + jquery
But it is slower than HTML Import

this code loads ./templates/header.html at <div id=header>
<script src="Res/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
$("#header").load("./templates/header.html")
});
</script>

On Mon, 22 Oct 2018, 7:40 am Lulzim, <notifications@github.com> wrote:

[2019-08-23 07:20] Krishuthapa opened #150 "How can I set custom styles through the style getter?"
[code]

How can I set the style of the `flex` through the `styles` getter? If I do something llike the snippet above the styles aren't set

[2019-12-16 16:58] davidmaxwaterman commented on #142
I still see this link in the README on this repo:

https://github.com/PolymerElements/iron-flex-layout/blob/master/iron-flex-layout.html

and it 404s.

[2022-10-11 03:44] #93 closed